* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #932ef9, #4f1c72); 
}

